<!-- <h2>Student Details</h2>
<div style="padding: 5px;"> 
    <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="createbook">Create Book</a></li>
        <li><a routerLink="students">View Book Details</a></li>    
        <li><a routerLink="students/update">Update Book</a></li>  
        <li><a routerLink="">Delete Book</a></li>   
    </ul>
    <router-outlet></router-outlet>
</div> -->

<script type="text/javascript">
    $(function() {
			$("li").click(function(e) {
			  e.preventDefault();
			  $("li").removeClass("active");
			  $(this).addClass("active");
			});
		});
</script>
 <div class="container">
    <nav class="side-nav">
      <ul class="nav-menu">
        <li class="nav-item"><a routerLink="home"><i class="fas fa-tachometer-alt"></i><span class="menu-text">Home</span></a></li>
        <li class="nav-item"><a routerLink="createbook"><i class="fas fa-user"></i><span class="menu-text">Create Book</span></a></li>
        <li class="nav-item active"><a routerLink="students"><i class="fas fa-file-alt"></i><span class="menu-text">View Book</span></a></li>
        <li class="nav-item"><a routerLink="students/update"><i class="fas fa-play "></i><span class="menu-text">Update Book</span></a></li>

      </ul> 
    </nav>
  </div> 
   
<div class="rc"><router-outlet></router-outlet></div>


